<%- include('partials/header.ejs') -%>

<h2 style="text-align: center;margin-top: 1em;"><%= title %></h2>

<div class="container" style="margin-top: 1em;">
    <a href='./' class="btn btn-primary" style="float:right;margin:0.5em">Back</a>
</div>

<form action="" class='form form-control' method="post" enctype="multipart/form-data" style="width:50%;margin:6em;margin-left:25%;text-align:left;">
    <br>
    First Name:
    <input type='text' class="form form-control" name='fname' required><br>

    Last Name:
    <input type='text' class="form form-control" id='lname' name='lname' required><br>    

    Age:
    <input type='number' class="form form-control" id='age' name='age' min='0' required><br>

    Salary:
    <input type='number' class="form form-control" id='salary' name='salary' min="0" required><br>

    <select class='form form-control' id='department' name='department'>
        <% data.forEach( (dep, index)=>{
            %>
            <option value='<%= dep.department_id %>'> <%= dep.department_name %> </option>
            <%
        } )%>
    </select><br>

    <input type="submit" class='btn btn-success' value="Submit" style='margin-bottom:1em'>
</form>

</body>
</html>